@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background: $background-color-gradient;
    background-attachment: fixed;
    padding: $main-padding;
}