$background-color-gradient: linear-gradient(180deg, #09090B 0%, #282830 70%, #051F21 100%);
$header-background-color: #09090B;

$button-background-color: #6E31DE;
$focus-color: #37F3FF;

$primary-color: #f3f3f3;
$text-color-opacity-05: rgba(243, 243, 243, 0.5);

$text-primary-color-light: #f3f3f3;
$text-primary-color-dark: #09090B;

$genre-background-color: #656466;
