@import 'typography';
@import 'theme';

// Font
$syne-font: 'Syne', sans-serif;
$inter-font: 'Inter', sans-serif;

$syne-regular: 400px;
$syne-bold: 800px;

$inter-thin: 200px;
$inter-regular: 400px;
$inter-bold: 700px;

// Layout
$border-radius-05: 5px; 
$border-radius-10: 10px; 
$contentWidth: 1200px;
$main-padding: 20px max(2rem, 50vw - $contentWidth / 2);

// Input
$search-input-border-radius: 30px;
$search-input-padding: 8px 12px;
$search-input-border: none;

// button
$button-border-radius: 10px;
$button-padding: 10px 20px;