@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.main-container {
    @include flex-row;
    overflow: hidden;
    gap: 100px;
    margin: 70px 0;

    @media screen and (max-width: 1200px) {
        gap: 50px;
    }

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
}

.bg-img {
    position: absolute;
    top: -20px;
    z-index: -1;
    opacity: .2;
    left: 0;
    width: 100vw;
    filter: blur(20px);
}

.bg-fade {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: -1;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
}

.container-title {
    @include font-properties('Syne', 3em, 600, normal, normal);
    color: $primary-color;
    margin-bottom: 30px;

    @media screen and (max-width: 1200px) {
        font-size: 2em;
    }
}

.game-card-container {
    position: relative;
    border: 2px solid $focus-color;
    border-radius: $border-radius-10;

    overflow: hidden;
    width: 600px;
    background: linear-gradient(0deg, rgb(0 0 0 / 77%), transparent);
    background-color: $header-background-color;

    @media screen and (max-width: 1200px) {
        width: 100%;
    }

    .game-picture-container {
        margin: 30px;
        position: relative;
        height: 300px;
        overflow: hidden;
        border-radius: $border-radius-10;
        z-index: 1;

        img {
            @include absolute-center;
            height: 400px;
        }
    }

    .game-card-bg {
        height: 600px;
        position: absolute;
        top: 0;
        transform: scale(1.1);
        opacity: .4;
        filter: blur(50px);

        z-index: 0;
    }

    .game-infos-container {
        position: relative;
        padding: 30px;
    }
}



.game-genres {
    @include font-properties('Inter', .9em, 400, normal, normal);
    color: $text-primary-color-light;
    @include flex-row;
    gap: 5px;

    p {

        padding: 2px 5px;
        background-color: $genre-background-color;
        border-radius: $border-radius-05;
    }

}

.game-infos {
    @include flex-row;
    gap: 30px;
    margin: 20px 0;
}

.info-title {
    color: $text-color-opacity-05;
    font-size: .9em;
    border-bottom: 1px solid $text-color-opacity-05;
    margin-bottom: 10px;
    padding: 5px 0;
    width: fit-content;
}


.game-description {
    position: relative;

    .game-description-text {
        height: 200px;
        overflow: hidden;
        transition: height .4s ease;

        &.visible {
            height: auto;
            overflow: visible;
        }
    }

    .game-description-html {
        h3 {
            padding: 10px 0;
        }

        p {
            line-height: 1.5em;
        }
    }

    span {
        position: absolute;
        display: inline-block;
        bottom: 5px;
        background-color: $header-background-color;
        width: 100%;

        filter: blur(10px);
        height: 40px;
        opacity: .9;
    }

    button {
        position: relative;
        margin-top: 10px;
        @include button(fit-content, fit-content);
        padding: 5px 10px;
    }
}

// ============================= REQUIREMENTS =============================

.requirement-container {

    margin-bottom: 50px;

    .title {
        @include font-properties('Syne', 2em, 600, normal, normal);
        color: $primary-color;
        padding: 10px 20px;
        margin-bottom: 20px;
        border: 2px solid $focus-color;
        border-radius: $border-radius-10;
        width: 100%;
    }

    .specs-container {
        @include font-properties('Inter', 1em, 400, 1.5, normal);
    }
}