@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

footer {
    border-top: 1px solid rgba(255, 255, 255, 0.119);
    @include flex-center;
    justify-content: space-between;
    padding-top: 20px;
    font-size: .9em;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $main-padding;
}

.footer-title {
    @include flex-center;
    gap: 10px;
    color: $primary-color;

    .logo-img {
        width: 30px;
    }
}

.footer-links {
    @include flex-row;
    gap: 10px;
    color: $primary-color;

    a {
        @include link-properties;
    }
}