@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';


.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;

    h1,
    p {
        @include font-properties('Syne', 2em, 600, normal, normal)
    }

    p {
        font-size: 1em;
    }
}